{% extends 'django_template_landrick/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6 mt-4 pt-2">
                <img src="{% static 'global_assets/images/user/recovery.svg' %}" class="img-fluid rounded-md" alt="">
            </div><!--end col-->
            <div class="col-lg-7 col-md-6 mt-4 pt-2">
                <div class="section-title me-lg-5">
                    <h4 class="title mb-4">{% trans "Permission Denied" %}</h4>
                    <p class="text-muted">{% trans "Sorry, you don't have access to this page." %}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
