{% extends 'django_template_landrick/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6 mt-4 pt-2">
                <img src="{% static 'global_assets/images/404.svg' %}" class="img-fluid" alt="">
            </div><!--end col-->
            <div class="col-lg-7 col-md-6 mt-4 pt-2">
                <div class="section-title me-lg-5">
                    <h4 class="title mb-4">{% trans "Sorry, something got lost!" %}</h4>
                    <p class="text-muted">{% trans "We are unable to find the requested page." %}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-60">
        <div class="row align-items-center position-relative" style="z-index: 1;">
            <div class="col-lg-12">
                <a href="{% url 'search' %}?q={{ search_query }}">SEARCH</a>
            </div><!--end col-->
        </div>
    </div>
{% endblock %}
