{% extends 'django_template_landrick/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6 mt-4 pt-2">
                <img src="{% static 'img/server_down.webp' %}" class="img-fluid" alt="">
            </div><!--end col-->
            <div class="col-lg-7 col-md-6 mt-4 pt-2">
                <div class="section-title me-lg-5">
                    <h4 class="title mb-4">{% trans "Sorry, something went wrong!" %}</h4>
                    <p class="text-muted">{% trans "We are unable to process your request." %}</p>
                    <p class="text-muted">{% trans "Our engineers have been notified." %}</p>
                    <p class="text-muted">{% trans "Please try again later." %}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
