{% extends 'django_template_landrick/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <form action="{{ request.get_full_path }}" method="post" class="form-check">
        {% csrf_token %}
        <div class="card shadow-lg">
            <div class="card-header">
                <h4>{% trans "Contract Termination Form" %}</h4>
                <p>{% trans "Please fill out the entire form." %}</p>
            </div>
            <div class="card-body">
                <div class="row">
                    {{ contract_termination_form }}
                </div>
                <input type="submit" value="Submit" class="btn btn-primary rounded-pill">
            </div>
        </div>
    </form>
{% endblock %}
