{% extends 'django_template_landrick/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6 mt-4 pt-2">
                <img src="{% static 'global_assets/images/illustrator/services.svg' %}"
                     class="img-fluid rounded-md" alt="">
            </div><!--end col-->
            <div class="col-lg-7 col-md-6 mt-4 pt-2">
                <div class="section-title me-lg-5">
                    <h4 class="title mb-4">{{ contract_termination_01_header }}</h4>
                    <p class="text-muted">{{ contract_termination_01_content|safe }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-60">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6 mt-4 pt-2 order-1 order-md-2">
                <img src="{% static 'global_assets/images/integration/interactiondesign-amico.svg' %}"
                     class="img-fluid rounded-md" alt="">
            </div><!--end col-->
            <div class="col-lg-7 col-md-6 mt-4 pt-2">
                <div class="section-title me-lg-5">
                    <h4 class="title mb-4">{{ contract_termination_02_header }}</h4>
                    <p class="text-muted">{{ contract_termination_02_content|safe }}</p>
                    <div class="buy-button">
                        <a href="https://login.dolphin-it.de/">
                            <div class="btn btn-primary">{% trans "To my contracts" %}</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mb-xl-5">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6 mt-4 pt-2">
                <img src="{% static 'global_assets/images/task/laptop.webp' %}"
                     class="img-fluid rounded-md" alt="">
            </div><!--end col-->
            <div class="col-lg-7 col-md-6 mt-4 pt-2">
                <div class="section-title me-lg-5">
                    <h4 class="title mb-4">{{ contract_termination_03_header }}</h4>
                    <p class="text-muted">{{ contract_termination_03_content|safe }}</p>
                    <a href="{% url "general_contract_termination_form" %}">{% trans "Click here to get to the contract termination form" %}</a>
                </div>
            </div>
        </div>
    </div>
    {% include 'django_template_landrick/seg_contact_more_info_w_msg.html' %}
{% endblock %}
