{% extends 'django_template_landrick/base.html' %}
{% load static %}
{% load i18n %}

{% block main_section %}
    <section class="bg-half-170 d-table w-100 it-home"
             style="background: url('{% static "img/common_bg.webp" %}') center center;">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-6 col-12">
                    <div class="title-heading">
                        <h6 class="text-white-50">{{ company_slogan_short }}</h6>
                        <h1 class="fw-bold text-white title-dark mt-2 mb-3">{{ company_slogan_main }}</h1>
                        <p class="para-desc text-white-50">{{ company_slogan_long }}</p>
                    </div>
                </div><!--end col-->

                <div class="col-lg-5 col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
                    <div class="card shadow rounded border-0 ms-lg-5">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">{{ home_contact_short_text }}</h5>
                            <h6>{{ home_contact_long_text }}</h6>
                            {% if messages %}
                                {% for message in messages %}
                                    <div {% if message.tags %}class="message-{{ message.tags }}"
                                         {% else %}class="message"{% endif %}>
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <form action="{{ request.get_full_path }}" method="post" class="contact-form">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <label class="form-label">{% trans "Your Name" %} <span class="text-danger">*</span></label>
                                            <div class="form-icon position-relative">
                                                <i data-feather="user" class="fea icon-sm icons"></i>
                                                {{ contact_more_info_form.name }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <label class="form-label">{% trans "Your Email Address" %} <span
                                                    class="text-danger">*</span></label>
                                            <div class="form-icon position-relative">
                                                <i data-feather="mail" class="fea icon-sm icons"></i>
                                                {{ contact_more_info_form.from_email }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <label class="form-label">{% trans "Your Phone No." %} <span
                                                    class="text-danger">*</span></label>
                                            <div class="form-icon position-relative">
                                                <i data-feather="phone" class="fea icon-sm icons"></i>
                                                {{ contact_more_info_form.phone }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <label class="form-label">{% trans "Your Message" %} <span
                                                    class="text-blue">(optional)</span></label>
                                            <div class="form-icon position-relative">
                                                <i data-feather="edit-3" class="fea icon-sm icons"></i>
                                                {{ contact_more_info_form.message }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <div class="form-icon position-relative">
                                                {{ contact_more_info_form.captcha }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="mb-3">{% trans "By submiting the form, you accept our privacy policy." %}</div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="d-grid">
                                            <button class="btn btn-primary">{% trans "Send Message" %}</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div> <!--end container-->
    </section><!--end section-->

    <div class="position-relative">
        <div class="shape overflow-hidden text-white">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
            </svg>
        </div>
    </div>
    <!-- Hero End -->

    <!-- Start Features -->
    <section class="py-4 bg-light">
        <div class="container">
            <div class="row justify-content-center">
                {% for company_topic in company_topics %}
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="d-flex features pt-4 pb-4">
                            <div class="icon text-center rounded-circle text-primary me-3 h5 mb-0">
                                <i class="uil {{ company_topic.icon }} text-primary"></i>
                            </div>
                            <div class="flex-1">
                                <h4 class="title">{{ company_topic.title }}</h4>
                                <p class="text-muted para mb-0">{{ company_topic.description }}</p>
                            </div>
                        </div>
                    </div><!--end col-->
                {% endfor %}
            </div><!--end row-->
        </div><!--end container-->
    </section><!--end section-->
    <!-- End Features -->

    <section class="section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-6 mt-4 mt-lg-0 pt-2 pt-lg-0">
                            <div class="card work-container work-modern overflow-hidden rounded border-0 shadow-md">
                                <div class="card-body p-0">
                                    <img src="{% static "company/people/kevin_olbrich_400x500.webp" %}" class="img-fluid"
                                         alt="work-image">
                                    <div class="overlay-work bg-dark"></div>
                                    <div class="content">
                                        <a href="javascript:void(0)"
                                           class="title text-white d-block fw-bold">{{ company_people_01_name }}</a>
                                        <small class="text-light">{{ company_people_01_title }}</small>
                                    </div>
                                </div>
                            </div>
                        </div><!--end col-->

                        <div class="col-lg-6 col-6">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 mt-4 mt-lg-0 pt-2 pt-lg-0">
                                    <div class="card work-container work-modern overflow-hidden rounded border-0 shadow-md">
                                        <div class="card-body p-0">
                                            <img src="{% static "company/people/olaf_famers_400x500.webp" %}"
                                                 class="img-fluid" alt="work-image">
                                            <div class="overlay-work bg-dark"></div>
                                            <div class="content">
                                                <a href="javascript:void(0)"
                                                   class="title text-white d-block fw-bold">{{ company_people_02_name }}</a>
                                                <small class="text-light">{{ company_people_02_title }}</small>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--end col-->

                                <div class="col-lg-12 col-md-12 mt-4 pt-2">
                                    <div class="card work-container work-modern overflow-hidden rounded border-0 shadow-md">
                                        <div class="card-body p-0">
                                            <img src="{% static "company/people/jan_civitelli_400x500.webp" %}"
                                                 class="img-fluid" alt="work-image">
                                            <div class="overlay-work bg-dark"></div>
                                            <div class="content">
                                                <a href="javascript:void(0)"
                                                   class="title text-white d-block fw-bold">{{ company_people_03_name }}</a>
                                                <small class="text-light">{{ company_people_03_title }}</small>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--end col-->
                            </div><!--end row-->
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end col-->

                <div class="col-lg-6 col-md-6 mt-4 mt-lg-0 pt- pt-lg-0">
                    <div class="ms-lg-4">
                        <div class="section-title">
                            <span class="badge bg-soft-primary rounded-pill fw-bold">{% trans "About Us" %}</span>
                            <h4 class="title mb-4 mt-3">{{ company_slogan_second }}</h4>
                            {{ company_description_long|safe }}
                        </div>

                        <div class="d-flex mt-4 pt-2">
                            <i class="uil uil-bullseye h5 text-primary"></i>
                            <div class="flex-1 ms-2">
                                <h5>{{ company_key_topic_01_name }}​</h5>
                                <p class="mb-0 text-muted">{{ company_key_topic_01_text }}</p>
                            </div>
                        </div>

                        <div class="d-flex mt-4 pt-2">
                            <i class="uil uil-create-dashboard h5 text-primary"></i>
                            <div class="flex-1 ms-2">
                                <h5>{{ company_key_topic_02_name }}​</h5>
                                <p class="mb-0 text-muted">{{ company_key_topic_02_text }}</p>
                            </div>
                        </div>

                        <div class="mt-4 pt-2">
                            <a href="{% url 'about_us' %}" class="btn btn-primary m-1">
                                {{ company_history_read_more_btn }} <i class="uil uil-angle-right-b align-middle"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div><!--end row-->
        </div><!--end container-->

        <div class="container mt-100 mt-60">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="section-title mb-4 pb-2">
                        <h4 class="title mb-4">{{ company_services_header }}</h4>
                        <p class="text-muted para-desc mx-auto mb-0">{{ company_services_text|safe }}</p>
                    </div>
                </div><!--end col-->
            </div><!--end row-->

            <div class="row">
                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="d-flex key-feature align-items-center p-3 rounded-pill shadow">
                        <div class="icon text-center rounded-circle me-3">
                            <i data-feather="{{ company_expert_topic_01_icon }}"
                               class="fea icon-ex-md text-primary"></i>
                        </div>
                        <div class="flex-1">
                            <h4 class="title mb-0">{{ company_expert_topic_01_name }}</h4>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="d-flex key-feature align-items-center p-3 rounded-pill shadow">
                        <div class="icon text-center rounded-circle me-3">
                            <i data-feather="{{ company_expert_topic_02_icon }}"
                               class="fea icon-ex-md text-primary"></i>
                        </div>
                        <div class="flex-1">
                            <h4 class="title mb-0">{{ company_expert_topic_02_name }}</h4>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="d-flex key-feature align-items-center p-3 rounded-pill shadow">
                        <div class="icon text-center rounded-circle me-3">
                            <i data-feather="{{ company_expert_topic_03_icon }}"
                               class="fea icon-ex-md text-primary"></i>
                        </div>
                        <div class="flex-1">
                            <h4 class="title mb-0">{{ company_expert_topic_03_name }}</h4>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="d-flex key-feature align-items-center p-3 rounded-pill shadow">
                        <div class="icon text-center rounded-circle me-3">
                            <i data-feather="{{ company_expert_topic_04_icon }}"
                               class="fea icon-ex-md text-primary"></i>
                        </div>
                        <div class="flex-1">
                            <h4 class="title mb-0">{{ company_expert_topic_04_name }}</h4>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="d-flex key-feature align-items-center p-3 rounded-pill shadow">
                        <div class="icon text-center rounded-circle me-3">
                            <i data-feather="{{ company_expert_topic_05_icon }}"
                               class="fea icon-ex-md text-primary"></i>
                        </div>
                        <div class="flex-1">
                            <h4 class="title mb-0">{{ company_expert_topic_05_name }}</h4>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="d-flex key-feature align-items-center p-3 rounded-pill shadow">
                        <div class="icon text-center rounded-circle me-3">
                            <i data-feather="{{ company_expert_topic_06_icon }}"
                               class="fea icon-ex-md text-primary"></i>
                        </div>
                        <div class="flex-1">
                            <h4 class="title mb-0">{{ company_expert_topic_06_name }}</h4>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="d-flex key-feature align-items-center p-3 rounded-pill shadow">
                        <div class="icon text-center rounded-circle me-3">
                            <i data-feather="{{ company_expert_topic_07_icon }}"
                               class="fea icon-ex-md text-primary"></i>
                        </div>
                        <div class="flex-1">
                            <h4 class="title mb-0">{{ company_expert_topic_07_name }}</h4>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="d-flex key-feature align-items-center p-3 rounded-pill shadow">
                        <div class="icon text-center rounded-circle me-3">
                            <i data-feather="{{ company_expert_topic_08_icon }}"
                               class="fea icon-ex-md text-primary"></i>
                        </div>
                        <div class="flex-1">
                            <h4 class="title mb-0">{{ company_expert_topic_08_name }}</h4>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="d-flex key-feature align-items-center p-3 rounded-pill shadow">
                        <div class="icon text-center rounded-circle me-3">
                            <i data-feather="{{ company_expert_topic_09_icon }}"
                               class="fea icon-ex-md text-primary"></i>
                        </div>
                        <div class="flex-1">
                            <h4 class="title mb-0">{{ company_expert_topic_09_name }}</h4>
                        </div>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div>
    </section>

    {#    <!-- Start -->#}
    {#    <section class="section pt-0">#}
    {#        <div class="container">#}
    {#            <div class="row justify-content-center">#}
    {#                <div class="col-12">#}
    {#                    <div class="col-12 text-center">#}
    {#                        <div class="section-title mb-4 pb-2">#}
    {#                            <h4 class="title mb-4">{{ company_testimonial_header }}</h4>#}
    {#                        </div>#}
    {#                    </div><!--end col-->#}
    {#                    <div class="video-solution-cta position-relative" style="z-index: 1;">#}
    {#                        {% include 'django_template_landrick/seg_testimonials.html' %}#}
    {#                    </div>#}
    {#                </div><!--end col-->#}
    {#            </div><!--end row -->#}
    {#            <div class="feature-posts-placeholder bg-light"></div>#}
    {#        </div><!--end container-->#}
    {#    </section><!--end section-->#}
    {#    <!-- End -->#}
{% endblock %}
