{% extends 'django_template_landrick/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row align-items-center position-relative" style="z-index: 1;">
            <div class="col-lg-12">
                <div class="title-heading text-center text-lg-start">
                    <p class="para-desc text-muted mx-auto mx-lg-start mb-0">
                        {{ imprint_content|safe }}
                    </p>
                </div>
            </div><!--end col-->
        </div>
    </div>
{% endblock %}
