{% extends 'django_template_landrick/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row align-items-center">
            <ul>
                {% for web_entry in web_directory_list %}
                    <li>
                        <a href="{{ web_entry.url }}">{{ web_entry.title }}</a>
                        <p>
                            {{ web_entry.description }}
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
